a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: red;

}
.top{
    display: grid; 
    grid-auto-rows:auto auto auto;
    grid-template-areas: "title""hr-line""menu-items";
    margin: 20px 10px 20px 10px;
}
.top > hr{
    grid-area: hr-line;
    width:100%;
}
.title{
    grid-area: title;
    display:grid;
    grid-template-columns: 100px auto;
    grid-template-areas: "logo news-names";

}
.logo{
    grid-area: logo;
}
.menu-short-screen{
    display: none;
}
.news-name{
    grid-area: news-names;
    font-size: 4vmax;
    text-align: left;
    padding-left: 20%;
    padding-top: 10px;
}
.menu-items{
    grid-area: menu-items;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template: "menu-news menu-events menu-culture menu-blog";
}
.menu-news{
    grid-area: menu-news;
    padding: 0px 10px 0px 10px;
    font-size: 3vw;
}
.menu-events{
    grid-area: menu-events;
    padding: 0px 10px 0px 10px;
    font-size: 3vw;
}
.menu-culture{
    grid-area: menu-culture;
    padding: 0px 10px 0px 10px;
    font-size: 3vw;
}
.menu-blog{
    grid-area: menu-blog;
    padding: 0px 10px 0px 10px;
    font-size: 3vw;
}
.news-weather{
    display:grid;
}

.breaking-news{
    grid-area: breaking-news;
    position: relative;
    margin: 20px 10px 20px 10px;
}
.transbox{
    position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: white;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2vw;
  opacity: 0.7;
  text-align: left;
}
.top-news{
    grid-area: top-news;
    margin: 20px 10px 20px 10px;
  
}
.top-news-head{
    grid-area: top-news-head;
    display:grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: "top-news-news top-news-more"
}
.top-news-news{
    font-size: 6vmin 
}
.top-news-more{
    font-size: 4vmin;
    padding-top: 10%;
}
.score-card{
    grid-area: score-card;
    margin: 20px 10px 20px 10px;
    background-color: grey;
}
.score-card-table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;

}
.score-card-table th, td {
    text-align: left;
    font-size: 2vw;
    padding: 8px;
}
.score-card-table th {
    text-align: center;
    background-color: #1f4352f1;
}
.score-card-table tr:nth-child(odd){
    background-color: #b8d1dbf1;
}
.weather-card{
    grid-area: weather-card;
    display: grid;
    grid-template-areas: "weather-card-place" "weather-card-today" "weather-card-week"
}
.weather-card-place{
    grid-area: weather-card-place;
    font-size: 4vmin;
    padding-left: 10px;
}
.weather-card-today{
    grid-area: weather-card-today;
}
.weather-card-today td{
    font-size: 4vmin;
}
.weather-card-week{
    grid-area: weather-card-week;
    border-collapse: collapse;
    width: 100%;
}
.weather-card-week th, td, tr{
    text-align: center;
    padding: 5px;
    font-size: 2vw;
}
.weather-card-week img{
    width: 7vw;
    height: 7vw;
}
.latest-news{
    grid-area: latest-news;
    margin: 20px 10px 20px 10px;
  
}
.latest-news-head{
    grid-area: latest-news-head;
    display:grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: "latest-news-news latest-news-more"
   
}
.latest-news-news{
    grid-area: latest-news-news;
    font-size: 4vmin 
}
.latest-news-more{
    grid-area: latest-news-more;
    font-size: 4vmin;
    
}
.latest-news-content{
    display: grid;
    grid-column: auto;
    justify-content: space-around;
}
.latest-news-content-stuff{
    margin: 10px 5px 10px 5px;
}
.latest-news-content-stuff img{
    float: left;
    width: 150px;
    height: 150px;
    padding-right: 10px;
}

.footer-items{
    grid-area: footer-items;
    display: flex;
    justify-content: space-around;
}
#weather-1{
    display: none;
}
.container{
    display: grid;
    grid-template-areas:
    "top"
    "news-weather"
    "top-news"
    "score-card"
    "weather-card"
    "latest-news"
    "footer-items";
}
 @media (max-width: 800px ){
    .container{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas:
        "top"
        "news-weather"
        "top-news"
        "score-card"
        "latest-news"
        "footer-items";
    }
   
    .news-weather{
        grid-area: news-weather;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:"breaking-news weather-card";
    }
    .breaking-news{
        grid-area: breaking-news;
        position: relative;
        
    }
    .breaking-news img{
        height: 100%;
    }
    .transbox{
        position: absolute;
        bottom: 0px;
        right: 0px;
        background-color: black;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1vw;
        opacity: 0.7;
        text-align: left;
    }
    #weather-2{
        display: none;
    }
    #weather-1{
        display: block;
    }
}
@media (max-width: 600px ){
    .container{
        display: grid;
        grid-template-areas:
        "top"
        "news-weather"
        "top-news"
        "score-card"
        "weather-card"
        "latest-news"
        "footer-items";
    }
    .title{
        grid-area: title;
        display:grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 1fr;
        grid-template-areas: "logo news-names menu-short-screen";    
    }
    .news-name{
        font-size: 4vw;    
        }
    .menu-short-screen{
        grid-area: menu-short-screen;
        display: block;
        align-items: baseline;
        padding: 50% 50% 50% 20%;       
    }
    .menu-items{
        display: none;
    }
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
        cursor: pointer;
      }
    .news-weather{
        grid-area: news-weather;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-areas:"breaking-news";
    }
    #weather-1{
        display: none;
    }
    #weather-2{
        display: block;
    }
}